
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.hero-section {
  height: 100vh;
  background: url("hero-bg.jpg") center no-repeat;
  background-size: cover;
}
/* Nav */
nav {
  height: 70px;
  background: rgb(20, 20, 20);
  color: rgb(220, 220, 220);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.nav-items,
.overview,
.account {
  display: flex;
}
.overview {
  margin-right: 4rem;
}
.logo h2 {
  text-decoration: overline;
  font-style: italic;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 0 0.5rem;
}
nav li {
  list-style: none;
  margin: 0 0.5rem;
}
nav a {
  text-decoration: none;
  color: rgb(220, 220, 220);
}
nav a:hover {
  color: #ffffff;
}
nav a::after {
  content: "";
  display: block;
  height: 3px;
  background: #0aa05a;
  width: 0%;
  transition: all ease-in-out 300ms;
}
nav a:hover::after {
  width: 100%;
}
.hero-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  margin-top: 10%;
}
.hero-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.hero-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
* {
    font-family: Nunito, sans-serif;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  .images-section {
    display: flex;
    justify-content: space-between; /* Space between the images */
    align-items: center; /* Align the images vertically */
    gap: 20px; /* Adds space between the images */
    margin: 20px 0; /* Optional margin to add space around the section */
  }
  
  .images-section img {
    width: 30%; /* This controls the size of each image */
    height: auto;
    border-radius: 8px; /* Optional: Adds rounded corners to the images */
  }
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    
    background-color: initial;
    
  }
  
  .responsive-container-block.Container {
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.heading {
    font-size: 36px;
    line-height: 45px;
    font-weight: 800;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .text-blk.subHeading {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .socialIcon {
    width: 33px;
    height: 33px;
  }
  
  .social-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .social-icon {
    margin: 0 50px 0 50px;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .text-blk.heading {
      font-size: 55px;
      line-height: 65px;
    }
  
    .text-blk.subHeading {
      font-size: 18px;
      line-height: 24px;
    }
  
    .socialIcon {
      width: 20px;
      height: 20px;
    }
  
    .text-blk.subHeading {
      line-height: 27px;
    }
  
    .text-blk.heading {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .social-icon {
      margin: 0 25px 0 25px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .text-blk.heading {
      font-size: 45px;
      line-height: 55px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .social-icons-container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 26px;
      line-height: 30px;
    }
  
    .social-icon {
      margin: 0 20px 0 20px;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

  
  section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #202c3d;
    overflow: hidden;
  }
  section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }

  .container {
    position: relative;
    width: 50%;
    
  }
  
  .image {
    display: block;
    width: 50%;
    height: auto; 
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 50%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    height: 100%;
  }
  
  .text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
  }
  


 


.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1400px; /* Limit max-width for better alignment */
    width: 100%;
    margin-bottom: 100;
    margin-top: 0.5px;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    
    background-color: #c7b198;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #596e79 ;
}

.response {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}
